.header {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    font-size: 18px;;
    list-style-type: none;
}

.nav-items > ul  > li{
    padding: 10px;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card {
    margin: 5px;
    width: 250px;
    padding: 5px;
    background-color: #f0f0f0;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 100%;
}